<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Mine mercado Raposo"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mine_mercado_raposo_amanhacer"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".produtos.activity_tinta_branca_ecomat_quimirraia_5LT"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_esponja_banho_mg127_tabomil"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_oleo_cedro_SP_mistolin_360ML"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_vaso_castanho_prato"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_vaso_castanho"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_adubo_azul_quimirraia_1KG"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_trincha_junior"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_porta_escova_limpa_sanitas_piassaba_branco"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_escova_limpa_sanitas_piassaba_branco"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_velas_iluminacao_v7_lumar"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_saco_pinhas_inflame_3KG"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_tapete_floral_polipropileno"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_folar_Mel"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_queijada_requeijao"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_salame_fatiado"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_esses_azeite"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_broas_mel"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_bolo_forma_noz"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_bolo_forma_laranja"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_Bolo_forma_amendoa"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_bolo_forma_mel"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_cerveja_sem_alcool_super_bock_33CL"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_garrafa_butano_13KG_rubis"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_garrafa_tuti_13KG"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_garrafa_tuti_11KG"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_garrafa_cepsa"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_sumo_amigo_morango_200ML"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_pepsi_regular"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_bacon_nacos_200GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_fiambre_perna_economico"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_casca_ostra_1KG"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_mistura_canarios_1KG"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_milho_inteiro_5KG"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_racao_pintos_104_valouro_5KG"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_fiambre_pa_200GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_linguica_alentejana_180GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_painho_porco_preto_300GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_campofrio_fiambre_peru_finissimo_FT"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_banha_porco_235GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_linguica_Porco_alentejano_180GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_presunto_serrano_cura_FT_200GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_fiambre_frango_FT_classicas_90GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_bacon_fumado_extra_pedacos_probar_190GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_presunto_duroc_nacos_primor_300GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_chourico_grosso_porco_preto_estremoz"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_chourico_grosso_porco_branco_estremoz"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_nobre_fiambre_fatias_finas_100GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_nobre_paio_york_FT_90GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_nobre_chouricao_FT_100GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_fiambre_peito_peru_forno_lenha_120GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_probar_bacon_fumado_fatiado_75GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_nobre_presunto_fatiado_70GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_bacon_primor_nacos_200GR"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_chourico_carne_porco_branco_PB"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_toucinho_pedacos_sal_montanheira"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_chourico_carne_porco_preto_PP"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_morcela_porco_branco"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_farinheira_branca_porco_branco"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_avenal_racao_seca_gato_cereais_carne_4kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_gato_mousse_purina_gourmet"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_racao_seca_gato_friskies_4kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_peru_frango_purina_friskies"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_avenal_racao_seca_gato_peixe_2kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_avenal_racao_seca_gato_cereais_carne_2kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_avenal_racao_seca_gato_cereais_carne_20kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_spike_racao_seca_cao_junior_4kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_avenal_basic_racao_seca_cao_adulto_20kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_spike_racao_seca_cao_adulto_4kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_milho_partido_5kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_mistura_cereais_para_aves_5kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_mistura_cereais_para_aves_25kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_valouro_granulado_galinhas_poedeiras_5kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_valouro_granulado_galinhas_poedeiras_30kg"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_milho_partido_25kg"
            android:exported="false" />
        <activity
            android:name=".view.SobreActivity"
            android:exported="false" />
        <activity
            android:name=".view.ActivityShare"
            android:exported="false" />
        <activity
            android:name=".view.ConfirmacaoPedidoActivity"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_Poupa_Tomate_amanhecer"
            android:exported="false" />
        <activity
            android:name=".produtos.activity_Arroz_Agulha_amanhecer"
            android:exported="false" />
        <activity
            android:name=".view.PesquisaActivity"
            android:exported="false" />
        <activity
            android:name=".view.CarrinhoActivity"
            android:exported="false" />
        <activity
            android:name=".view.registerActivity"
            android:exported="false" />
        <activity
            android:name=".view.loginActivity"
            android:exported="false" />
        <activity
            android:name=".view.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
    </application>

</manifest>