<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Mine mercado Raposo"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mine_mercado_raposo_amanhacer"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.activity_chourico_carne_porco_branco_PB"
            android:exported="false" />
        <activity
            android:name=".view.activity_toucinho_pedacos_sal_montanheira"
            android:exported="false" />
        <activity
            android:name=".view.activity_chourico_carne_porco_preto_PP"
            android:exported="false" />
        <activity
            android:name=".view.activity_morcela_porco_branco"
            android:exported="false" />
        <activity
            android:name=".view.activity_farinheira_branca_porco_branco"
            android:exported="false" />
        <activity
            android:name=".view.activity_avenal_racao_seca_gato_cereais_carne_4kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_gato_mousse_purina_gourmet"
            android:exported="false" />
        <activity
            android:name=".view.activity_racao_seca_gato_friskies_4kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_peru_frango_purina_friskies"
            android:exported="false" />
        <activity
            android:name=".view.activity_avenal_racao_seca_gato_peixe_2kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_avenal_racao_seca_gato_cereais_carne_2kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_avenal_racao_seca_gato_cereais_carne_20kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_spike_racao_seca_cao_junior_4kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_avenal_basic_racao_seca_cao_adulto_20kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_spike_racao_seca_cao_adulto_4kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_milho_partido_5kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_mistura_cereais_para_aves_5kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_mistura_cereais_para_aves_25kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_valouro_granulado_galinhas_poedeiras_5kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_valouro_granulado_galinhas_poedeiras_30kg"
            android:exported="false" />
        <activity
            android:name=".view.activity_milho_partido_25kg"
            android:exported="false" />
        <activity
            android:name=".view.SobreActivity"
            android:exported="false" />
        <activity
            android:name=".view.ActivityShare"
            android:exported="false" />
        <activity
            android:name=".view.ConfirmacaoPedidoActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity_Poupa_Tomate_amanhecer"
            android:exported="false" />
        <activity
            android:name=".view.activity_Arroz_Agulha_amanhecer"
            android:exported="false" />
        <activity
            android:name=".view.PesquisaActivity"
            android:exported="false" />
        <activity
            android:name=".view.CarrinhoActivity"
            android:exported="false" />
        <activity
            android:name=".view.registerActivity"
            android:exported="false" />
        <activity
            android:name=".view.loginActivity"
            android:exported="false" />
        <activity
            android:name=".view.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
    </application>

</manifest>